
:root {
	--vw-primary-dark: #002733;
	--vw-primary-light: #ffffff;
	--vw-white: #fff;
	--vw-light-yellow: #c2fe06 ;
	--vw-ligth-green: #00806e;
	--vw-dark-green: #004d4a;


}
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}



/* Smooth text rendering */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	font-family: Volkswagen Group Font, Helvetica, sans-serif;
	min-height: 100vh;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	background-color: var(--vw-primary-light);
	color: var(--vw-primary-black);
}

.container {
	

	margin: 2rem;
	width: 100%;
	max-width: 600px;

	background-color: var(--vw-primary-dark);
	color: var(--vw-primary-light);

	border-radius: 20px;
	padding: 2rem;
	display: none;

}


.container.active {
	display: flex;
	align-items: center;
	justify-content: center;
}

.screen {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	/* width: 100%; */
}

.screen h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
	text-align: center;
	color: var(--vw-light-yellow);
}

.screen h2 {
	margin-bottom: 1rem;
	text-align: center;
}

.screen.result {
	padding: 2rem;
	margin-bottom: 2rem;
	border-radius: 20px;
}

.result-score {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: var(--vw-ligth-green);
	padding: 1rem;
	border-radius: 10px;

}

.screen.result h2 {
	color: var(--vw-light-yellow);
	margin-top: 1rem;
}


.btn-start{
	background-color: var(--vw-light-yellow);
	color: var(--vw-primary-dark);
	border: solid 2px;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 1.2rem;
	cursor: pointer;
	margin-top: 20px;
}
.btn-start:hover {
	background-color: var(--vw-ligth-green);
	color: var(--vw-light-yellow);
	transition: all 0.3s ease;
}


.answer-status {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: 0.9rem;
	margin-bottom: 1.5rem;
	font-style: italic;
	color: var(--vw-light-yellow);
}

.container-questions {
	width: 95%;
	display: flex;
	/* padding: 1rem; */
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.btn-question{
	background-color: var(--vw-ligth-green);
	color: var(--vw-primary-light);
	border: solid 2px;
	border-radius: 10px;
	border-color: var(--vw-primary-light);
	padding: 0.8rem;
	margin-bottom: 1rem;
	width: 100%;
}

.btn-question:hover{
	background-color: var(--vw-dark-green);
	color: var(--vw-light-yellow);
	cursor: pointer;
	transition: all 0.3s ease;
	transition: background-color 0.6s ease;
}

.btn-question.deactivated{
	background-color: var(--vw-dark-green);
	color: var(--vw-primary-light);
	pointer-events: none;
}

.btn-question.deactivated:hover{
	transition: none;
}

.btn-question.correct{
	background-color: rgb(161, 224, 94);
	border-color:   rgb(44, 120, 40);
	color: var(--vw-primary-dark);
}

.btn-question.incorrect{
	background-color: rgb(251, 141, 169);
	border-color:   rgb(221, 0, 0);
	color: var(--vw-primary-dark);
}


.progress-bar {
	width: 100%;
	height: 10px;
	background-color: var(--vw-primary-light);
	border-radius: 10px;
	margin-top: 1rem;
}

.progress {
	height: 100%;
	width: 0%;
	border-radius: 10px;
	background-color: var(--vw-ligth-green);
	transition: width 0.3s ease;
}


