@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
  background: linear-gradient(130deg, rgb(164, 12, 164) 20%,  rgb(155, 9, 46));
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  padding:20px;

}

.container-main{
  background-color: white;
  border-radius: 20px;
  max-width: 800px;
  width: 100%;
  padding: 2rem;
  box-shadow: 4px 10px 20px rgba(26, 1, 25, 0.8);
  /* box-shadow: 0 10px  rgba(0, 0, 0, 0.3); */
}


.container-main h1{
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  padding-bottom: 2rem;
}

.container-main h1::after{
  content: " ";
  position: absolute;
  bottom: 0;
  border-radius: 2px;
  height: 4px;
  width: 70%;
  bottom: 0;
  left: 15%;
  background-color: rgb(164, 12, 164); */
  /* background-color: #099b0f; */
  margin-bottom: 1.5rem;
}

.container-basecolor{
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  width: auto;
  gap:10px;
}

.btn-golden-ratio{
  font-size: 25px;
}

.btn-generate{
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border-width: 0;
  background: linear-gradient(60deg,rgb(165, 248, 252), rgb(56, 143, 249));
  /* background: linear-gradient(60deg,#78a40c 20%, #099b0f); */
}

.btn-generate:hover{
  transform: translateY(-2px);
  transform: translateX(-2px);
  box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
  transition: ease 0.2s;
}

.container-color-selection{
  padding: 0.5rem 1rem
}

.btn-colorpicker{
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  /* background: linear-gradient(60deg,#aefc5a, #5eb603); */
  background: linear-gradient(60deg,rgb(165, 248, 252), rgb(56, 143, 249));
  border-width: 0px;
}
.btn-colorpicker:hover{
  transform: translateY(-2px);
  transform: translateX(-2px);
  box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
  transition: ease 0.2s;
}

.colorpicker{
  margin-left: 0.5rem;
  font-size: 0.9rem;
  padding: 0.4rem 1rem;
  max-width: 120px;
  background: white;
  /* background: linear-gradient(60deg,rgb(165, 248, 252), rgb(56, 143, 249)); */
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
  border-width: 0px;
  border-radius: 5px;
}

.colorpicker:hover{
  box-shadow: 1px 1px 8px rgba(2, 85, 188, 0.8);
  border-width: 0px;
  transition: ease 0.2s;
}

.colorpicker:focus{
  outline: none;
  box-shadow: 1px 1px 8px rgba(2, 85, 188, 0.8);
  
}


.container-color{
  background-color: white;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  
}

.color-box{
  height: 150px;
  background-color: blue;
  display: flex;
  align-items: end;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.color-box:hover {
  transform: translate(-3px, -3px);
}

.color-info{
  padding: 0.5rem;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}


.copy-btn:hover{
  color: rgb(164, 12, 164);
  transform: translate(-1px, -1px);

}


@media (max-width: 920px){
  .container-color{
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
  }

  .color-box{
    height: 120px;
  }
}


.toggle-header {
  display: flex;
  max-width: 360px;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  font-size: 20px;
}

/* Arrow animation */
.arrow {
  font-size: 2rem;
  display: inline-block;
  transition: transform 0.3s ease;
}

/* Content (hidden by default) */
.toggle-content {
  max-height: 0px;
  overflow: hidden;
  font-size: 16px;
  margin-left: 20px;
  transition: all 0.4s ease;
}

.toggle.active .arrow {
  transform: rotate(90deg);
}

.toggle.active .toggle-content {
  max-height: 200px; /* Shows the content of toggle-content div*/
}


/* .container-main{

} */
