@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
  background: linear-gradient(130deg, rgb(164, 12, 164) 20%,  rgb(155, 9, 46));
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  min-height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  padding:20px;

}

.container-main{
  background-color: white;
  border-radius: 20px;
  max-width: 800px;
  width: 100%;
  padding: 2rem;
  box-shadow: 4px 10px 20px rgba(26, 1, 25, 0.8);
  /* box-shadow: 0 10px  rgba(0, 0, 0, 0.3); */
}

.container-main h1{
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  position: relative;
  padding-bottom: 2rem;
}

.container-main h1::after{
  content: " ";
  position: absolute;
  bottom: 0;
  border-radius: 2px;
  height: 4px;
  width: 70%;
  bottom: 0;
  left: 15%;
  background-color: rgb(164, 12, 164);
  margin-bottom: 1.5rem;
}

.btn-generate{
  margin-bottom: 1rem;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border-width: 0;
  background: linear-gradient(60deg,rgb(165, 248, 252), rgb(56, 143, 249));
}

.btn-generate:hover{
  transform: translateY(-2px);
  transform: translateX(-2px);
  box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
  transition: ease 0.2s;
}



.container-color{
  background-color: white;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  
}

.color-box{
  height: 150px;
  background-color: blue;
  display: flex;
  align-items: end;
  border-radius: 10px;
  box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
}

.color-box:hover {
  transform: translate(-3px, -3px);
}

.color-info{
  padding: 0.5rem;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
}


.copy-btn:hover{
  color: rgb(164, 12, 164);
  transform: translate(-1px, -1px);

}


@media (max-width: 920px){
  .container-color{
    gap: 8px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
  }

  .color-box{
    height: 120px;
  }
}


/* .container-main{

} */
