@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/*smoot text rendering*/
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
	min-height: 100vh;
  	font-family: "Nunito", sans-serif;
	/* min-height: 100vh; */
	padding: 1rem;
  	font-family: "Nunito", sans-serif;

	display: flex;
	align-items: center;
	justify-content: center;
}

.container{
	padding:2rem;
	margin: 0;

	width:100%;
	max-width: 1200px;
}

.container h1{
	color: #172B4D;
	text-align: center;

}

.container h2{
	color: #172B4D;
}

.board{
	padding-top: 1.5rem;
	/* element positioning */
	flex-wrap: wrap;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	gap: 15px
	/* visual */

}

.board-box{
	max-width: 100%;
	min-width: 200px;
	width: 31%;
	padding:1rem;

	display: flex;
	justify-content: start;
	align-items: center;
	flex-direction: column;

	/*visual */
	background-color: #F4F5F7;
  	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	min-height: 70vh;

}

.board-box h2{
	color: #172B4D;
	position: relative;
	margin-bottom: 1.5rem;
}

.board-box h2::after{
	content: "";
	position: absolute;
	bottom: -2px;
	left:0;
	height: 2px;
	width: 100%;
	border-radius: 2px;
	background-color: #172B4D;
}

.board-box.over{
	background-color: #DFE1E6

;
}

.item{
	/* border: 2px solid; */
	border-radius: 10px;
	width: 90%;
	padding: 0.4rem 1rem;
	margin-bottom: 0.5rem;
	text-align: center;
	background-color:#FFFFFF;
  	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
	transition: transform 0.2s;
}

.item:hover{
	transform: translateX(-1px);
	transform: translateY(-1px);
  	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	cursor: grab;
}

.item:active{
	cursor: grabbing;
	transform: scale(1.1);
}


@media (max-width:750px){
	.board{
		flex-direction: column;
		align-items: center;
	}

	.board-box{
		width: 90%;
	}

}